SECRET_KEY=django-key

DB_NAME=db
DB_USER=user
DB_PASSWORD=dbpass
DB_HOST=localhost
DB_PORT=5432

# Email (prod)
BREVO_HOST=smtp-relay.brevo.com
BREVO_PORT=587`
BREVO_SMTP_LOGIN=brevo_login
BREVO_SMTP_PASSWORD=brevo_password
WEBSITE_EMAIL=example.com

B2_APPLICATION_KEY_ID=app_key_id
B2_APPLICATION_KEY=app_key
B2_BUCKET_NAME=topmapsolutions-official
B2_REGION=sgp1
B2_ENDPOINT_URL=https://s3.sgp1.backblazeb2.com