SECRET_KEY=django-insecure-0*zzh(tw^bds@v^9v5rd+r$2q^82q2zxvd8bloakpf90u=!en3

DB_NAME=db
DB_USER=user
DB_PASSWORD=dbpass
DB_HOST=localhost
DB_PORT=5432

# Email (prod)
BREVO_HOST=smtp-relay.brevo.com
BREVO_PORT=587
BREVO_SMTP_LOGIN=brevo_login
BREVO_SMTP_PASSWORD=brevo_password
WEBSITE_EMAIL=example.com