{% load static %}
<section class="hero">
    <img src="{% static 'images/city-planning.jpg' %}"
         class="hero-images"
         alt="images">
    <div class="container">
        <div class="hero-card">
            <h1>Modernize Your City With GIS</h1>
            <p>
                Transform land records, urban planning data, infrastructure, and
                public assets into accurate, connected GIS solutions for local
                governments and organizations.
            </p>
            <a class="btn-primary" href="{% url 'guests:inquiry' %}">Get in touch</a>
        </div>
    </div>
</section>
