{% load static %}
<figure class="partner-logo">
    <img src="{% static 'images/offices/tagum.png' %}"
         alt="City of Tagum"
         width="160"
         height="160"
         loading="lazy">
    <figcaption>City of Tagum</figcaption>
</figure>
<figure class="partner-logo">
    <img src="{% static 'images/offices/tagum_assessors.png' %}"
         alt="Tagum City Assessor’s Office"
         width="160"
         height="160"
         loading="lazy">
    <figcaption>City Assessor’s Office</figcaption>
</figure>
<figure class="partner-logo">
    <img src="{% static 'images/offices/tagum_cpdo.png' %}"
         alt="Tagum City Planning and Development Office"
         width="200"
         height="160"
         loading="lazy">
    <figcaption>City Planning &amp; Development Office</figcaption>
</figure>
