.partner h4 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-transform: uppercase;
}

.partner .marquee {
  --w: 150px;
  --h: 150px;
  --dur: 25s;
  --n: 3;
  block-size: var(--h);
  display: flex;

  margin-top: 3rem;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  overflow-x: hidden;
  position: relative;
}

.partner .item {
  animation: go linear var(--dur)
    calc(var(--dur) / var(--n) * (var(--n) - var(--i)) * -1) infinite;
  inset-inline-start: max(calc(var(--w) * var(--n)), calc(100% + var(--w)));
  position: absolute;
  transform: translateX(-50%);
}

.partner .item:nth-of-type(1) {
  --i: 1;
}
.partner .item:nth-of-type(2) {
  --i: 2;
}
.partner .item:nth-of-type(3) {
  --i: 3;
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--w) * -1);
  }
}


.partner .marquee img {
  height: 150px;
}
