.container {
  margin-inline: auto;
  padding-block: clamp(3rem, 6vw, 5.5rem);
  width: min(100% - 3rem, 1160px);
}

.container-navbar {
  padding: 1rem max(1.5rem, calc((100% - 1160px) / 2));
}

.base {
  display: flex;
  flex-direction: column;
  min-height: var(--min-height);
}

.base>main {
  flex: 1;
}

@media (max-width: 480px) {
  .container {
    width: calc(100% - 2rem);
  }

  .container-navbar {
    padding: 1rem;
  }
}
