.errors {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
  min-height: 70vh;
}

.errors a {
  margin-top: 1rem;
}

.errors img {
  display: block;
  height: auto;
  max-width: 500px;
  width: 100%;
}

.errors main {
  flex: 1;
}

.errors section {
  flex: 2;
}

@media (max-width: 768px) {
  .errors {
    flex-direction: column;
  }
}
