footer {
  background-color: var(--color-dark);
  color: var(--color-text-light);
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 1rem;
  background-color: var(--color-dark);
  color: var(--color-text-light);
}



footer img {
  width: 70px;
}


@media (max-width: 768px) {
  footer p {
    font-size: 0.8rem;
  }

  


}