nav {
  height: 100px;
  display: flex;
  border-bottom: 1px solid var(--color-dark);
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: var(--color-secondary-bg);
  box-sizing: border-box;
}

nav .nav-routers {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .route {
  text-decoration: none;
  font-weight: var(--fw-black);
  color: var(--color-dark);
  transition: all 0.2s ease;
}

nav .route:hover {
  color: var(--color-accent)
}

nav .nav-title {
  display: flex;
  align-items: center;
  font-weight: var(--fw-black);
  font-family: var(--font-header);
  color: var(--color-darl);
  font-size: 2.3rem;
  gap: 1rem;
  text-decoration: none;
}

nav div {
  padding: 1rem;
}

nav img {
  width: 60px;
}

@media (max-width: 800px) {
  .nav-title span {
    display: none;
  }
}
