{% extends "_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/case_studies/contentPage.css' %}">
{% endblock %}

{% block content %}

<main class="container">

    <div class="case-study-navigation">
        {% with parent=page.get_parent %}
            {% if parent %}
                <a href="{{ parent.url }}">
                    All Case studies
                </a>
            {% endif %}
        {% endwith %}
    </div>

    <article class="case-study">
        <header class="case-study-header">
            <div class="top-bar">

                <div>
                    {% if page.location %}
                        <span>{{ page.location }}</span>
                    {% endif %}
                </div>

                <div>
                    {% with tags=page.tags.all %}
                        {% if tags %}
                            <div class="tags-container">
                                {% for tag in tags %}
                                    <span class="chip-tag">
                                        {{ tag }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                
            </div>
            
            <h1>{{ page.title }}</h1>

            {% if page.summary %}
                <p>{{ page.summary }}</p>
            {% endif %}
        </header>

        {% with gallery=page.gallery_images.all %}
            {% if gallery %}

                <section class="gallery">
                    {% for item in gallery %}

                        {% image item.image width-1200 as gallery_image %}

                        <figure>

                            <img
                                src="{{ gallery_image.url }}"
                                width="{{ gallery_image.width }}"
                                height="{{ gallery_image.height }}"
                                alt="{{ item.caption|default:page.title }}"
                                loading="lazy"
                            />

                            {% if item.caption %}
                                <figcaption> {{ item.caption }} </figcaption>
                            {% endif %}

                        </figure>

                    {% endfor %}
                </section>
            {% endif %}
        {% endwith %}

        <main>
            <div class="case-study-results">
                {% with results=page.results.all %}

                    {% if results %}

                        <section class="case-study-section case-study-results">
                            <h2>Results</h2>

                            <div class="case-study-results">

                                {% for result in results %}

                                    <article class="case-study-result">

                                        <div class="result-value">
                                            {{ result.value }}
                                        </div>

                                        <h3>{{ result.label }}</h3>

                                        {% if result.description %}
                                            <p>{{ result.description }}</p>
                                        {% endif %}

                                    </article>

                                {% endfor %}
                            </div>
                        </section>

                    {% endif %}

                {% endwith %}
            </div>

            <div class="case-study-body">

                {% if page.client %}
                    <p>Client: {{ page.client }}</p>
                {% endif %}
        

        
                {% if page.challenge %}
        
                    <section class="case-study-section">
        
                        <h2>Challenge</h2>
        
                        <div class="content">
                            {{ page.challenge|richtext }}
                        </div>
        
                    </section>
        
                {% endif %}
        
        
                {% if page.solution %}
        
                    <section class="case-study-section">
        
                        <h2>Solution</h2>
        
                        <div class="content">
                            {{ page.solution|richtext }}
                        </div>
        
                    </section>
        
                {% endif %}

            </div>
        </main>

    </article>
</main>

{% endblock %}